.cont{
    color:blueviolet;
}

#frnd{
    color:aqua;
}

.main{
    color:darkorange;
    font-family: 'Courier New', Courier, monospace;
}
.main1{
    font-style: italic;
    font-size: larger;
}